In [17]:
#===================================================================
# Date: 09/18/2021
# Description - Import and anyalize Titanic data
#===================================================================

import matplotlib.pyplot as plt
from matplotlib import style 
style.use('ggplot')
import numpy as np
from sklearn.cluster import KMeans
from sklearn import preprocessing
import pandas as pd

In [18]:
# Import excel file for the assignment
df = pd.read_excel('CS379T-Week-1-IP.xls')
# Test and output the data from file
print(df.head())
df.drop(['body','name'], 1, inplace=True)
df.fillna(0, inplace=True)
# Retest after changes
print(df.head())

   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

       age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.0000      0      0   24160  211.3375       B5        S    2    NaN
1   0.9167      1      2  113781  151.5500  C22 C26        S   11    NaN
2   2.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3  30.0000      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4  25.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON
   pclass  survived     sex      age  sibsp  parch  ticket      fare    cabin  \
0       1         1  female  29.0000      0      0   24160  211.3375       B5
1       1         1    male   0.9167      1      2  113781  151.5500  C22 C26
2       1         0  female   2.0000      1      2  113781  151.5500  C22 C26
3       1         0    male  30.0000      1      2  113781  151.5500  C22 C26
4       1         0  female  25.0000      1      2  113781  151.5500  C22 C26

  embarked boat                        home.dest
0        S    2                     St Louis, MO
1        S   11  Montreal, PQ / Chesterville, ON
2        S    0  Montreal, PQ / Chesterville, ON
3        S    0  Montreal, PQ / Chesterville, ON
4        S    0  Montreal, PQ / Chesterville, ON

In [19]:
# Helper function for string type data
def handle_non_numerical_data(df):
    columns = df.columns.values

    for column in columns:
        text_digit_vals = {}
        # Numbers are good
        def convert_to_int(val):
            return text_digit_vals[val]
        # Else convert
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1

            df[column] = list(map(convert_to_int, df[column]))

    return df

df = handle_non_numerical_data(df)

In [20]:
X = np.array(df.drop(['survived'], 1).astype(float))
y = np.array(df['survived'])

# Execute k means algorithm
clf = KMeans(n_clusters=2)
clf.fit(X)

KMeans(n_clusters=2)

In [21]:
# Check if groups match together
correct = 0
for i in range(len(X)):
    predict_me = np.array(X[i].astype(float))
    predict_me = predict_me.reshape(-1, len(predict_me))
    prediction = clf.predict(predict_me)
    if prediction[0] == y[i]:
        correct += 1

print(correct/len(X))

0.48892284186401835

In [22]:
# Add some preprocessing
X = np.array(df.drop(['survived'], 1).astype(float))
X = preprocessing.scale(X)
y = np.array(df['survived'])

clf = KMeans(n_clusters=2)
clf.fit(X)

# Recheck, results look better
correct = 0
for i in range(len(X)):
    predict_me = np.array(X[i].astype(float))
    predict_me = predict_me.reshape(-1, len(predict_me))
    prediction = clf.predict(predict_me)
    if prediction[0] == y[i]:
        correct += 1

# Print final results
print(correct/len(X))

0.24369747899159663